<div *ngIf="userInfo">
  <p> Hello, user {{ userInfo.username }}.</p>
  <p> Did you know your ID is <b>{{userInfo._id}}?</b></p>
</div>

<h2> Our Phones </h2>

<section *ngIf="userInfo">

<button (click)="showForm()"> Add Phone </button>
<br>
<app-phone-form
  *ngIf="isFormOn"
  (newPhoneNotifier)="handleNewPhone($event)"></app-phone-form>

</section>

<div *ngFor="let phone of phones" class="cont">

  <h3> {{ phone.name }}</h3>
  <span> Brand: {{ phone.brand }}</span>

  <a [routerLink]="['/phone', phone._id]"> See Details </a>
  <br>
  <img [src]="phone.image">

</div>
