<div class="form-container">
  <div class="form-wrapper">

<h2> Sign Up </h2>

<p class="error" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</p>

<form (ngSubmit)="signupSubmit()">
  <label for="fullName"> FullName </label>
  <input  id="fullName" type="text" placeholder="Djana"
    name="fullName" [(ngModel)]="newUser.signupFullName">
  <br>

  <label for="username"> Username </label>
  <input  id="username" type="text" placeholder="Djana"
    name="username" [(ngModel)]="newUser.signupUsername">
  <br>

  <label for="password"> Password </label>
  <input  id="password" type="password" placeholder="****"
    name="password" [(ngModel)]="newUser.signupPassword">
  <br>

  <button> Sign Up </button>
</form>

</div>

<div class="form-wrapper">

  <h2> Log In </h2>

  <p class="error" *ngIf="loginError !== ''">
    {{loginError}}
  </p>

<form (ngSubmit)="loginSubmit()">

  <label for="lusername"> Username </label>
  <input  id="lusername" type="text" placeholder="Djana"
    name="username" [(ngModel)]="loginUser.loginUsername">
  <br>

  <label for="lpassword"> Password </label>
  <input  id="lpassword" type="password" placeholder="****"
    name="password" [(ngModel)]="loginUser.loginPassword">
  <br>

  <button> Log In </button>
</form>


</div>
</div>
