<h2> Sign Up </h2>

<p class="error" *ngIf="errorMessage !== ''">
  {{errorMessage}}
</p>

<form (ngSubmit)="signupSubmit()">
  <label for="fullName"> FullName </label>
  <input  id="fullName" type="text" placeholder="Djana"
    name="fullName" [(ngModel)]="newUser.signupFullName">
  <br>

  <label for="username"> Username </label>
  <input  id="username" type="text" placeholder="Djana"
    name="username" [(ngModel)]="newUser.signupUsername">
  <br>

  <label for="password"> Password </label>
  <input  id="password" type="text" placeholder="Djana-vux-33"
    name="password" [(ngModel)]="newUser.signupPassword">
  <br>

  <button> Submit </button>
</form>
